div{
    display: block;
}

/* .aside-2{
    display: flex;
    width:min-content;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #a1a1a1;
    transition: transform .1s ease-in-out;
    font-weight: bold;
}

.aside-2 > div{
    background-color: #a1a1a1;
    padding: 1px;
    text-align: center;
    line-height: 5px;
    width: 100px;
    border-style: groove;
    border-color: #292929;
} */

.flex-item:hover {
    transform:scale(1.1);
    background-color: #c2bebe;


}

.flex-item:active {
    transform: translateY(4px);
    }
/* 
.header {
    background: #292929;
}

.footer {
    background: #292929;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: hotpink;
  position: absolute;
width: 100%;
max-width: 400px;
margin-left: 5px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
} */

body {
  padding: 2em; 
}
.p-inline{
    display: inline;
}
.tooltipE {
    position: relative;
    display: inline-block;
    z-index: 2;
}
    
.tooltipE .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;

}
    
.tooltipE:hover .tooltiptext {
    visibility: visible;
}
.tooltipS {
    position: relative;
    display: inline-block;
}
    
.tooltipS .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -75px;
}
    
.tooltipS:hover .tooltiptext {
    visibility: visible;
}
.tooltipS2 {
    position: relative;
    display: inline-block;
}
    
.tooltipS2 .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -120px;
}
    
.tooltipS2:hover .tooltiptext {
    visibility: visible;
}

button{
    border:none;
    cursor: pointer;
    appearance: none;
    margin-left: 5px;
    display: inline-block;
    background-color: #a1a1a100;
    z-index: 1;
    width: auto;
    }  

    img{
    width: 119px;
    height: 154px;
    z-index: 1;
    }

btn{
    border:none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .1s ease-in-out;
    margin-left: 130px;
    position: absolute;
    float: right;
    }

    btn:hover{
    transform:scale(1.1);
    }

    btn:active {
    transform: translateY(4px);
    }

    img{
    width: 119px;
    height: 154px;
    z-index: 1;
    }
    
img{
    z-index: -1;
    }
    .aside-1 {
    position: absolute;
    width: 100%;
    max-width: 400px;
    margin-left: 5px;

    }
    
    .a img {
    width: 100%;
    height: auto;
    }

.footer {
background: lightgreen;
}

.main {
text-align: left;
background: deepskyblue;
}

.aside-1 {
background: gold;
}

.aside-2 {
background: hotpink;
}

@media all and (min-width: 600px) {
.aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
.main    { flex: 3 0px; }
.aside-1 { order: 1; } 
.main    { order: 2; }
.aside-2 { order: 3; }
.footer  { order: 4; }
}

body {
padding: 2em; 
}